.git
.gitignore
.github/
**/__pycache__/
**/*.py[codz]
.pytest_cache/
.ruff_cache/
.secrets.baseline
.Python
venv
env
.venv
ENV
pythonenv*
tests/
test_*.py
.coverage
htmlcov/
*.cover
docs/
*.rst
*.txt
dist/
build/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
.installed.cfg
*.egg-info/
*.egg
.vscode/
*.swp
*.swo
*.so
*~
*.manifest
*.spec
.env
.env.*
docker-compose*.yml
docker-compose*.yaml
*.log
*.db
*.sqlite
*.sqlite3
Dockerfile
allowlist.txt
.dockerignore
.pre-commit-config.yaml
.editorconfig