__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.py.cover
.pytest_cache/
cover/
*.mo
*.po
*.pot
*.log
docs/_build/
.pybuilder/
target/
profile_default/
.python-version
__pypackages__/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/site
cython_debug/
.vscode/
.ruff_cache/
.pypirc