*.cache
*.cover
*.egg
*.egg-info/
*.log
*.mo
*.pid
*.po
*.pot
*.py[codz]
*.so
*.sw[op]
*.whl
*~
.DS_Store
.Python
.eggs/
.env*
.python-version
.ruff_cache/
.venv/
ENV/
__pycache__/
__pypackages__/
build/
dist/
eggs/
env/
pip-delete-this-directory.txt
sdist/
venv/
wheels/
